<h1>Synergy</h1>
<p>This message.</p>
<a href='/topics'>Go to Topics</a>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-543da6bf4e4ace2d" async></script>
